body {
  background-color: #EEE;
}

caption {
  font-size: 20px;
}

table#itunes_info {
  min-width: 250px;
}

.table-info td:first-child {
  width: 120px;
}

.table-info td:nth-child(2) {
  padding: 1px 10px;
}

.table-info label:after {
  content: ":";
}

.user_data {
  -webkit-user-select: text;
}

